## Importing Libraries

In [69]:
# importing libraries 
import pandas as pd
pd.options.display.max_columns = None
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [70]:
# reading dataset 
gamers_df = pd.read_csv('Data/GamingStudy_data.csv', encoding='unicode_escape', index_col=0)

In [71]:
gamers_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13464 entries, 1 to 14250
Data columns (total 54 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        13464 non-null  float64
 1   GAD1             13464 non-null  int64
 2   GAD2             13464 non-null  int64
 3   GAD3             13464 non-null  int64
 4   GAD4             13464 non-null  int64
 5   GAD5             13464 non-null  int64
 6   GAD6             13464 non-null  int64
 7   GAD7             13464 non-null  int64
 8   GADE             12815 non-null  object
 9   SWL1             13464 non-null  int64
 10  SWL2             13464 non-null  int64
 11  SWL3             13464 non-null  int64
 12  SWL4             13464 non-null  int64
 13  SWL5             13464 non-null  int64
 14  Game             13464 non-null  object
 15  Platform         13464 non-null  object
 16  Hours            13434 non-null  float64
 17  earnings         13464 non-null  object
 18  whyplay          13464 non-null  object
 19  League           11626 non-null  object
 20  highestleague    0 non-null      float64
 21  streams          13364 non-null  float64
 22  SPIN1            13340 non-null  float64
 23  SPIN2            13310 non-null  float64
 24  SPIN3            13324 non-null  float64
 25  SPIN4            13305 non-null  float64
 26  SPIN5            13298 non-null  float64
 27  SPIN6            13308 non-null  float64
 28  SPIN7            13326 non-null  float64
 29  SPIN8            13320 non-null  float64
 30  SPIN9            13306 non-null  float64
 31  SPIN10           13304 non-null  float64
 32  SPIN11           13277 non-null  float64
 33  SPIN12           13296 non-null  float64
 34  SPIN13           13277 non-null  float64
 35  SPIN14           13308 non-null  float64
 36  SPIN15           13317 non-null  float64
 37  SPIN16           13317 non-null  float64
 38  SPIN17           13289 non-null  float64
 39  Narcissism       13441 non-null  float64
 40  Gender           13464 non-null  object
 41  Age              13464 non-null  int64
 42  Work             13426 non-null  object
 43  Degree           13464 non-null  object
 44  Birthplace       13464 non-null  object
 45  Residence        13464 non-null  object
 46  Reference        13449 non-null  object
 47  Playstyle        13464 non-null  object
 48  accept           13050 non-null  object
 49  GAD_T            13464 non-null  int64
 50  SWL_T            13464 non-null  int64
 51  SPIN_T           12814 non-null  float64
 52  Residence_ISO3   13354 non-null  object
 53  Birthplace_ISO3  13343 non-null  object
dtypes: float64(23), int64(15), object(16)
memory usage: 5.6+ MB

In [72]:
gamers_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13464 entries, 1 to 14250
Data columns (total 54 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        13464 non-null  float64
 1   GAD1             13464 non-null  int64
 2   GAD2             13464 non-null  int64
 3   GAD3             13464 non-null  int64
 4   GAD4             13464 non-null  int64
 5   GAD5             13464 non-null  int64
 6   GAD6             13464 non-null  int64
 7   GAD7             13464 non-null  int64
 8   GADE             12815 non-null  object
 9   SWL1             13464 non-null  int64
 10  SWL2             13464 non-null  int64
 11  SWL3             13464 non-null  int64
 12  SWL4             13464 non-null  int64
 13  SWL5             13464 non-null  int64
 14  Game             13464 non-null  object
 15  Platform         13464 non-null  object
 16  Hours            13434 non-null  float64
 17  earnings         13464 non-null  object
 18  whyplay          13464 non-null  object
 19  League           11626 non-null  object
 20  highestleague    0 non-null      float64
 21  streams          13364 non-null  float64
 22  SPIN1            13340 non-null  float64
 23  SPIN2            13310 non-null  float64
 24  SPIN3            13324 non-null  float64
 25  SPIN4            13305 non-null  float64
 26  SPIN5            13298 non-null  float64
 27  SPIN6            13308 non-null  float64
 28  SPIN7            13326 non-null  float64
 29  SPIN8            13320 non-null  float64
 30  SPIN9            13306 non-null  float64
 31  SPIN10           13304 non-null  float64
 32  SPIN11           13277 non-null  float64
 33  SPIN12           13296 non-null  float64
 34  SPIN13           13277 non-null  float64
 35  SPIN14           13308 non-null  float64
 36  SPIN15           13317 non-null  float64
 37  SPIN16           13317 non-null  float64
 38  SPIN17           13289 non-null  float64
 39  Narcissism       13441 non-null  float64
 40  Gender           13464 non-null  object
 41  Age              13464 non-null  int64
 42  Work             13426 non-null  object
 43  Degree           13464 non-null  object
 44  Birthplace       13464 non-null  object
 45  Residence        13464 non-null  object
 46  Reference        13449 non-null  object
 47  Playstyle        13464 non-null  object
 48  accept           13050 non-null  object
 49  GAD_T            13464 non-null  int64
 50  SWL_T            13464 non-null  int64
 51  SPIN_T           12814 non-null  float64
 52  Residence_ISO3   13354 non-null  object
 53  Birthplace_ISO3  13343 non-null  object
dtypes: float64(23), int64(15), object(16)
memory usage: 5.6+ MB

In [73]:
gamers_df.columns

Index(['Timestamp', 'GAD1', 'GAD2', 'GAD3', 'GAD4', 'GAD5', 'GAD6', 'GAD7',
       'GADE', 'SWL1', 'SWL2', 'SWL3', 'SWL4', 'SWL5', 'Game', 'Platform',
       'Hours', 'earnings', 'whyplay', 'League', 'highestleague', 'streams',
       'SPIN1', 'SPIN2', 'SPIN3', 'SPIN4', 'SPIN5', 'SPIN6', 'SPIN7', 'SPIN8',
       'SPIN9', 'SPIN10', 'SPIN11', 'SPIN12', 'SPIN13', 'SPIN14', 'SPIN15',
       'SPIN16', 'SPIN17', 'Narcissism', 'Gender', 'Age', 'Work', 'Degree',
       'Birthplace', 'Residence', 'Reference', 'Playstyle', 'accept', 'GAD_T',
       'SWL_T', 'SPIN_T', 'Residence_ISO3', 'Birthplace_ISO3'],
      dtype='object')

In [74]:
gamers_df.head()

,Timestamp,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,SWL1,SWL2,SWL3,SWL4,SWL5,Game,Platform,Hours,earnings,whyplay,League,highestleague,streams,SPIN1,SPIN2,SPIN3,SPIN4,SPIN5,SPIN6,SPIN7,SPIN8,SPIN9,SPIN10,SPIN11,SPIN12,SPIN13,SPIN14,SPIN15,SPIN16,SPIN17,Narcissism,Gender,Age,Work,Degree,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,SWL_T,SPIN_T,Residence_ISO3,Birthplace_ISO3
S. No.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,42052.00437,0,0,0,0,1,0,0,Not difficult at all,3,5,5,5,5,Skyrim,"Console (PS, Xbox, ...)",15.0,I play for fun,having fun,NaN,NaN,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,Male,25,Unemployed / between jobs,Bachelor (or equivalent),USA,USA,Reddit,Singleplayer,Accept,1,23,5.0,USA,USA
2,42052.00680,1,2,2,2,0,1,0,Somewhat difficult,3,5,2,5,1,Other,PC,8.0,I play for fun,having fun,NaN,NaN,2.0,2.0,1.0,1.0,3.0,2.0,3.0,1.0,3.0,4.0,0.0,3.0,0.0,1.0,3.0,3.0,1.0,2.0,1.0,Male,41,Unemployed / between jobs,Bachelor (or equivalent),USA,USA,Reddit,Multiplayer - online - with strangers,Accept,8,16,33.0,USA,USA
3,42052.03860,0,2,2,0,0,3,1,Not difficult at all,2,6,5,2,2,Other,PC,0.0,I play for fun,having fun,NaN,NaN,0.0,1.0,0.0,1.0,2.0,3.0,4.0,2.0,1.0,0.0,1.0,1.0,3.0,0.0,2.0,4.0,4.0,2.0,4.0,Female,32,Employed,Bachelor (or equivalent),Germany,Germany,Reddit,Singleplayer,Accept,8,17,31.0,DEU,DEU
4,42052.06804,0,0,0,0,0,0,0,Not difficult at all,2,5,5,3,2,Other,PC,20.0,I play for fun,improving,NaN,NaN,5.0,2.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0,2.0,Male,28,Employed,Bachelor (or equivalent),USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,0,17,11.0,USA,USA
5,42052.08948,2,1,2,2,2,3,2,Very difficult,2,2,4,5,1,Other,"Console (PS, Xbox, ...)",20.0,I play for fun,having fun,NaN,NaN,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,Male,19,Employed,High school diploma (or equivalent),USA,South Korea,Reddit,Multiplayer - online - with strangers,Accept,14,14,13.0,KOR,USA

The dataset contains information collected on three different psychological scales. For our purposes, we are focusing on using the Generalized Anxiety Disorder (GAD) scale, so we are isolating the GAD scale along with the `Timestamp` column.

In [79]:
# isolating dataset to contain columns of interest 
#cols = ['Timestamp','SWL1', 'SWL2', 'SWL3', 'SWL4', 'SWL5', 'SPIN1', 'SPIN2','SPIN3', 'SPIN4', 'SPIN5','SPIN6','SPIN7', 'SPIN8',
#        'SPIN9', 'SPIN10', 'SPIN11','SPIN12', 'SPIN13','SPIN14', 'SPIN15', 'SPIN16', 'SPIN17','Narcissism', 'SWL_T', 
#        'SPIN_T',]
gad_cols = ['GAD1', 'GAD2', 'GAD3', 'GAD4', 'GAD5', 'GAD6', 'GAD7', 'GADE', 'Game','Platform', 'Hours','earnings', 'whyplay',
           'League','highestleague','streams', 'Gender','Age','Work', 'Degree','Birthplace','Residence','Reference','Playstyle',
           'accept','GAD_T','Residence_ISO3','Birthplace_ISO3']
gamers_df = gamers_df.loc[:,gad_cols]

In [80]:
# viewing the updated dataset
gamers_df.head()

,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,Game,Platform,Hours,earnings,whyplay,League,highestleague,streams,Gender,Age,Work,Degree,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,Residence_ISO3,Birthplace_ISO3
S. No.,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,1,0,0,Not difficult at all,Skyrim,"Console (PS, Xbox, ...)",15.0,I play for fun,having fun,NaN,NaN,0.0,Male,25,Unemployed / between jobs,Bachelor (or equivalent),USA,USA,Reddit,Singleplayer,Accept,1,USA,USA
2,1,2,2,2,0,1,0,Somewhat difficult,Other,PC,8.0,I play for fun,having fun,NaN,NaN,2.0,Male,41,Unemployed / between jobs,Bachelor (or equivalent),USA,USA,Reddit,Multiplayer - online - with strangers,Accept,8,USA,USA
3,0,2,2,0,0,3,1,Not difficult at all,Other,PC,0.0,I play for fun,having fun,NaN,NaN,0.0,Female,32,Employed,Bachelor (or equivalent),Germany,Germany,Reddit,Singleplayer,Accept,8,DEU,DEU
4,0,0,0,0,0,0,0,Not difficult at all,Other,PC,20.0,I play for fun,improving,NaN,NaN,5.0,Male,28,Employed,Bachelor (or equivalent),USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,0,USA,USA
5,2,1,2,2,2,3,2,Very difficult,Other,"Console (PS, Xbox, ...)",20.0,I play for fun,having fun,NaN,NaN,1.0,Male,19,Employed,High school diploma (or equivalent),USA,South Korea,Reddit,Multiplayer - online - with strangers,Accept,14,KOR,USA

Now that we've isolated our columns of interest, let's break down the structure and see what we're working with.

In [87]:
# viewing nans in our dataset 
gamers_df.isna().sum()

GAD1                   0
GAD2                   0
GAD3                   0
GAD4                   0
GAD5                   0
GAD6                   0
GAD7                   0
GADE                 649
Game                   0
Platform               0
Hours                 30
earnings               0
whyplay                0
League              1838
highestleague      13464
streams              100
Gender                 0
Age                    0
Work                  38
Degree                 0
Birthplace             0
Residence              0
Reference             15
Playstyle              0
accept               414
GAD_T                  0
Residence_ISO3       110
Birthplace_ISO3      121
dtype: int64

It looks like `GADE`, `League`, `highestleague`, `streams`, `accept`, `Residence_ISO3`, and `Birthplace_ISO3` contain missing or NaN values, so we will need to look at them more closely.

### Survey Participant Consent 
To ensure participant privacy, we need to evaluate whether there are any records/participants that did not complete the consent form.

In [82]:
# viewing if any missing data regarding participant consent 
gamers_df['accept'].isna().sum()

414

We will need to deal with missing consent forms in order to ensure participant privacy.

### Generalized Anxiety Disorder (GAD-7) Items

In [16]:
# viewing GAD scale items 
gad_cols = ['GAD1', 'GAD2', 'GAD3', 'GAD4', 'GAD5', 'GAD6', 'GAD7', 'GADE', 'GAD_T']
gamers_df.loc[:, gad_cols].isna().sum()

GAD1       0
GAD2       0
GAD3       0
GAD4       0
GAD5       0
GAD6       0
GAD7       0
GADE     649
GAD_T      0
dtype: int64

Based on the survey used in the dataset, `GADE` refers to an optional question asked about difficulties in interpersonal and professional environments. In later model preprocessing steps, we shall impute Nans after train-test splitting with 'Did Not Answer'.

### League

Both `League` and `highestleague` are game-specific rankings which may not be necessary for future analysis.

In [117]:
league_cols = ['League','highestleague']
gamers_df.loc[:,league_cols].isna().sum()

League            1838
highestleague    13464
dtype: int64

In [116]:
gamers_df['League'].value_counts()

Gold                                                 970
Silver                                               650
Platinum                                             635
Diamond                                              549
gold                                                 316
                                                    ...
in cs:go double ak, in league gold                     1
Silver 1 (CS) Silver 5 (lol)                           1
Not played ranked yet, was Platinum 2 last season      1
Top team(DP2), Plat 3(LoL)                             1
AHGL                                                   1
Name: League, Length: 1455, dtype: int64

In [109]:
gamers_df['highestleague'].unique()

array([nan])

### Streams

`streams` refers to responses to the following question: "In addition to playing, how many hours a week do you spend on watching online player/tournament streams/replays/demos, giving or receiving coaching?"

In [119]:
gamers_df['streams'].isna().sum()

100

In [127]:
gamers_df['streams'].describe()

count    13364.000000
mean        11.233538
std         78.549209
min          0.000000
25%          4.000000
50%          8.000000
75%         15.000000
max       9001.000000
Name: streams, dtype: float64

NaN values in `streams` may indicate that no additional hours were spent aside from gaming to the above exemplars. However, based on preliminary EDA, values are heavily imbalanced, something to consider for future preprocessing steps.

### Participant Residence & Birthplace

In [147]:
geo_loc = ['Birthplace', 'Residence', 'Birthplace_ISO3','Residence_ISO3']
gamers_df.loc[:,geo_loc]

       Birthplace    Residence Birthplace_ISO3 Residence_ISO3
S. No.
1             USA          USA             USA            USA
2             USA          USA             USA            USA
3         Germany      Germany             DEU            DEU
4             USA          USA             USA            USA
5             USA  South Korea             USA            KOR
...           ...          ...             ...            ...
14246      France       France             FRA            FRA
14247         USA          USA             USA            USA
14248      Norway       Norway             NOR            NOR
14249      Canada       Canada             CAN            CAN
14250      Canada       Canada             CAN            CAN

[13464 rows x 4 columns]

In [130]:
# viewing NaN values in the Residence column
gamers_df['Residence_ISO3'].isna().sum()

110

In [151]:
gamers_df[gamers_df['Residence_ISO3'].isna()].head()

,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,Game,Platform,Hours,earnings,whyplay,League,highestleague,streams,Gender,Age,Work,Degree,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,Residence_ISO3,Birthplace_ISO3
S. No.,,,,,,,,,,,,,,,,,,,,,,,,,,,,
180,0,2,0,0,0,3,0,Not difficult at all,League of Legends,PC,7.0,I play for fun,improving,platinum,NaN,NaN,Male,19,Student at college / university,None,Unknown,Unknown,Reddit,Multiplayer - online - with real life friends,Accept,5,NaN,NaN
376,0,1,1,0,0,0,0,Not difficult at all,Starcraft 2,PC,14.0,I play for fun,having fun,Master,NaN,0.0,Male,35,Employed,Master (or equivalent),Germany,Unknown,Reddit,Multiplayer - online - with strangers,Accept,2,NaN,DEU
462,0,0,0,0,0,0,0,Not difficult at all,League of Legends,PC,40.0,I play for fun,improving,gold 1,NaN,10.0,Male,24,Employed,High school diploma (or equivalent),Unknown,Unknown,Reddit,Multiplayer - online - with strangers,Accept,0,NaN,NaN
725,3,3,2,2,3,3,0,Not difficult at all,League of Legends,PC,17.0,I play for fun,having fun,Gold III,NaN,8.0,Male,20,Unemployed / between jobs,None,Portugal,Unknown,Reddit,Multiplayer - online - with real life friends,Accept,16,NaN,PRT
797,1,0,0,0,1,2,1,Not difficult at all,League of Legends,PC,35.0,I play for fun,winning,Platinum V,NaN,10.0,Male,18,Student at school,High school diploma (or equivalent),Lithuania,Unknown,Reddit,Multiplayer - online - with strangers,Accept,5,NaN,LTU

In [154]:
gamers_df[gamers_df['Birthplace_ISO3'].isna()].head()

,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,Game,Platform,Hours,earnings,whyplay,League,highestleague,streams,Gender,Age,Work,Degree,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,Residence_ISO3,Birthplace_ISO3
S. No.,,,,,,,,,,,,,,,,,,,,,,,,,,,,
180,0,2,0,0,0,3,0,Not difficult at all,League of Legends,PC,7.0,I play for fun,improving,platinum,NaN,NaN,Male,19,Student at college / university,None,Unknown,Unknown,Reddit,Multiplayer - online - with real life friends,Accept,5,NaN,NaN
340,0,0,1,0,0,1,1,Not difficult at all,League of Legends,PC,25.0,I play for fun,winning,diamond IV,NaN,10.0,Male,24,Employed,Master (or equivalent),Unknown,Ukraine,Reddit,Multiplayer - online - with real life friends,Accept,3,UKR,NaN
370,0,0,1,1,0,0,0,Somewhat difficult,Starcraft 2,PC,20.0,I play for fun,improving,Masters,NaN,20.0,Male,21,Student at college / university,Bachelor (or equivalent),Unknown,UK,Reddit,Multiplayer - online - with strangers,Accept,2,GBR,NaN
426,1,0,1,2,1,1,0,Somewhat difficult,League of Legends,PC,20.0,I play mostly for fun but earn a little on the...,having fun and improving,Diamond IV,NaN,5.0,Male,19,Student at college / university,High school diploma (or equivalent),Unknown,Netherlands,Reddit,Multiplayer - online - with online acquaintanc...,Accept,6,NLD,NaN
462,0,0,0,0,0,0,0,Not difficult at all,League of Legends,PC,40.0,I play for fun,improving,gold 1,NaN,10.0,Male,24,Employed,High school diploma (or equivalent),Unknown,Unknown,Reddit,Multiplayer - online - with strangers,Accept,0,NaN,NaN

It seems that where `Residence_ISO3` and `Birthplace_ISO3` are NaN, the related columns of `Birthplace` and `Residence` are both 'Unknown'. This could be due to participant personal privacy reasons or dataset errors. For future preprocessing steps, we will need to consider alternative approaches than simply dropping them.

## Non-NaN Column Data Wrangling

Now that we have a rough idea of how NaN values are distributed amongst the columns containing them, let's move on and see if any other columns need cleaning. As a reference, we will use the survey design to see where cleaning may be needed.

In [163]:
gamers_df.tail()

,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,Game,Platform,Hours,earnings,whyplay,League,highestleague,streams,Gender,Age,Work,Degree,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,Residence_ISO3,Birthplace_ISO3
S. No.,,,,,,,,,,,,,,,,,,,,,,,,,,,,
14246,1,0,0,1,0,1,1,Not difficult at all,Other,"Console (PS, Xbox, ...)",40.0,I play for fun,improving,NaN,NaN,10.0,Male,22,Student at college / university,Master (or equivalent),France,France,Reddit,Multiplayer - online - with strangers,Accept,4,FRA,FRA
14247,3,3,3,3,2,3,3,Extremely difficult,League of Legends,PC,20.0,I play for fun,winning,NaN,NaN,20.0,Female,20,Student at college / university,High school diploma (or equivalent),USA,USA,Reddit,Multiplayer - online - with strangers,Accept,20,USA,USA
14248,0,0,0,0,0,0,0,Not difficult at all,Starcraft 2,PC,20.0,I play for fun,having fun,Gold,NaN,14.0,Male,19,Student at college / university,High school diploma (or equivalent),Norway,Norway,Reddit,Multiplayer - online - with real life friends,Accept,0,NOR,NOR
14249,3,2,1,3,0,1,3,Somewhat difficult,Other,"Console (PS, Xbox, ...)",5.0,I play for fun,having fun,NaN,NaN,0.0,Female,18,Student at school,High school diploma (or equivalent),Canada,Canada,Reddit,Singleplayer,Accept,13,CAN,CAN
14250,1,1,0,0,0,0,0,Somewhat difficult,Starcraft 2,PC,15.0,I play for fun,improving,Diamond,NaN,8.0,Male,19,Student at college / university,High school diploma (or equivalent),Canada,Canada,Reddit,Multiplayer - online - with strangers,Accept,2,CAN,CAN

### Game Most Frequently Played

In [162]:
# seeing if any NaN values in Game column 
gamers_df['Game'].isna().sum()

0

### Platform

In [177]:
gamers_df['Platform'].value_counts()

PC                         13219
Console (PS, Xbox, ...)      222
Smartphone / Tablet           23
Name: Platform, dtype: int64

### Hours

In [175]:
gamers_df['Hours'].isna().sum()

30

In [172]:
gamers_df['Hours'].value_counts().sort_index(ascending=True)

0.0        12
1.0        22
2.0        74
3.0       105
4.0       143
         ...
140.0       2
150.0       1
160.0       1
420.0       1
8000.0      1
Name: Hours, Length: 84, dtype: int64

In [173]:
gamers_df[gamers_df['Hours'].isna()]

,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,Game,Platform,Hours,earnings,whyplay,League,highestleague,streams,Gender,Age,Work,Degree,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,Residence_ISO3,Birthplace_ISO3
S. No.,,,,,,,,,,,,,,,,,,,,,,,,,,,,
46,2,1,3,1,0,1,0,Somewhat difficult,Counter Strike,PC,NaN,I play for fun,winning,-,NaN,10.0,Male,20,Student at college / university,High school diploma (or equivalent),UK,UK,Reddit,Multiplayer - online - with online acquaintanc...,Accept,8,GBR,GBR
1316,1,2,2,2,1,1,3,Extremely difficult,League of Legends,PC,NaN,I play for fun,winning,plat,NaN,2.0,Male,30,Student at college / university,High school diploma (or equivalent),Germany,Germany,Reddit,Multiplayer - online - with real life friends,Accept,12,DEU,DEU
1488,0,1,1,0,0,0,1,Somewhat difficult,League of Legends,PC,NaN,I play for fun,having fun,Silver V,NaN,6.0,Male,18,Student at school,None,Poland,Poland,Reddit,Multiplayer - online - with strangers,Accept,3,POL,POL
1972,3,3,3,3,0,2,3,Somewhat difficult,League of Legends,PC,NaN,I play for fun,having fun,NaN,NaN,0.0,Male,18,Student at school,None,Germany,Germany,Reddit,Multiplayer - online - with real life friends,Accept,17,DEU,DEU
2350,0,0,0,0,0,0,0,NaN,Counter Strike,PC,NaN,I play mostly for fun but earn a little on the...,improving,Gold Nova 1,NaN,2.0,Male,18,Student at school,High school diploma (or equivalent),Norway,Norway,Reddit,Multiplayer - online - with real life friends,Accept,0,NOR,NOR
2539,1,2,1,2,1,0,1,Somewhat difficult,League of Legends,PC,NaN,I play for fun,improving,Gold 3,NaN,10.0,Male,22,Employed,Bachelor (or equivalent),USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,8,USA,USA
3259,1,1,1,1,1,1,1,Not difficult at all,League of Legends,PC,NaN,I play for fun,winning,silver 2,NaN,0.0,Male,18,Employed,High school diploma (or equivalent),Australia,Australia,Reddit,Multiplayer - online - with real life friends,Accept,7,AUS,AUS
3764,1,0,2,1,2,1,0,Not difficult at all,League of Legends,PC,NaN,I play for fun,having fun,diamond,NaN,2.0,Male,18,Student at school,High school diploma (or equivalent),Poland,Poland,Reddit,Multiplayer - online - with real life friends,NaN,7,POL,POL
4336,1,1,2,0,1,0,0,NaN,League of Legends,PC,NaN,I play for fun,improving,Gold 1 in promos to Plat 5,NaN,NaN,Male,18,Student at school,High school diploma (or equivalent),Canada,Canada,Reddit,Multiplayer - offline (people in the same room),Accept,5,CAN,CAN
5232,3,3,3,3,3,3,3,Extremely difficult,Other,PC,NaN,i hate this game it consumes my life,can't emphasize winning enough,was plat 3 last season,NaN,NaN,Male,22,Unemployed / between jobs,Bachelor (or equivalent),USA,USA,Reddit,girlfriend,Accept,21,USA,USA
5518,3,1,1,1,0,2,2,Somewhat difficult,League of Legends,PC,NaN,I play for fun,winning,Diamond,NaN,NaN,Male,21,Student at college / university,None,Russia,Russia,Reddit,Multiplayer - online - with online acquaintanc...,Accept,10,RUS,RUS
6778,0,0,0,0,0,2,0,Not difficult at all,Other,PC,NaN,I play for fun,improving,Silver 2 for LoL,NaN,NaN,Male,18,Student at college / university,High school diploma (or equivalent),UK,UK,Reddit,Multiplayer - online - with real life friends,Accept,2,GBR,GBR
6787,0,0,0,0,0,1,0,Not difficult at all,League of Legends,PC,NaN,I play for fun,improving,uwot,NaN,10.0,Male,21,Student at school,High school diploma (or equivalent),USA,USA,Reddit,Multiplayer - online - with strangers,Accept,1,USA,USA
6906,3,1,2,3,0,3,0,Somewhat difficult,League of Legends,PC,NaN,I play mostly for fun but earn a little on the...,improving,Diamond 1,NaN,NaN,Male,19,Unemployed / between jobs,High school diploma (or equivalent),USA,USA,Reddit,Multiplayer - online - with strangers,Accept,12,USA,USA
7873,0,0,0,1,0,0,1,Not difficult at all,League of Legends,PC,NaN,I play for fun,improving,Gold 3,NaN,5.0,Male,22,Unemployed / between jobs,High school diploma (or equivalent),Switzerland,Sweden,Reddit,Singleplayer,Accept,2,SWE,CHE
8271,0,0,0,0,1,1,0,Not difficult at all,League of Legends,PC,NaN,I play for fun,improving,Silver 5,NaN,0.0,Male,18,Student at college / university,High school diploma (or equivalent),USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,2,USA,USA
8756,3,3,3,3,0,1,2,Somewhat difficult,Other,PC,NaN,I play for fun,improving,PLATINUM 1 ROAD TO DIAMOND BAABY,NaN,NaN,Male,19,Student at school,High school diploma (or equivalent),Greece,Greece,Reddit,Multiplayer - online - with real life friends,Accept,15,GRC,GRC
8813,3,1,1,1,0,2,2,Very difficult,League of Legends,PC,NaN,I play for fun,improving,g5,NaN,NaN,Male,27,Employed,High school diploma (or equivalent),Canada,Canada,Reddit,Multiplayer - online - with strangers,Accept,10,CAN,CAN
8900,1,1,1,1,0,1,0,Somewhat difficult,League of Legends,PC,NaN,I play for fun,having fun,Don't play ranked,NaN,0.0,Male,23,Student at college / university,Master (or equivalent),China,Canada,Reddit,Multiplayer - online - with real life friends,Accept,5,CAN,CHN
8974,3,2,1,1,1,3,2,Very difficult,Other,PC,NaN,I play for fun,improving,Gold IV,NaN,10.0,Male,24,Unemployed / between jobs,High school diploma (or equivalent),Finland,Finland,Reddit,Everything almost equally,Accept,13,FIN,FIN
9259,3,3,3,3,3,3,3,Somewhat difficult,League of Legends,PC,NaN,I play for fun,relaxing,Bronze,NaN,NaN,Other,23,Student at college / university,High school diploma (or equivalent),Canada,Canada,Reddit,Multiplayer - online - with online acquaintanc...,Accept,21,CAN,CAN
10339,2,2,2,0,3,2,0,Extremely difficult,League of Legends,PC,NaN,I play mostly for fun but earn a little on the...,winning,Plat 2,NaN,10.0,Male,18,Unemployed / between jobs,High school diploma (or equivalent),China,Canada,Reddit,Multiplayer - online - with strangers,Accept,11,CAN,CHN
10398,3,2,2,2,3,0,3,Extremely difficult,League of Legends,PC,NaN,I play for fun,having fun,Gold,NaN,0.0,Male,18,Unemployed / between jobs,High school diploma (or equivalent),Brazil,Brazil,Reddit,Multiplayer - online - with online acquaintanc...,Accept,15,BRA,BRA
10569,1,0,2,0,1,0,0,Not difficult at all,League of Legends,PC,NaN,I play for fun,having fun,Silver 3,NaN,5.0,Male,18,Unemployed / between jobs,High school diploma (or equivalent),USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,4,USA,USA
11414,1,0,1,0,1,1,0,Not difficult at all,League of Legends,PC,NaN,I play for fun,I don't know anymore,Unranked,NaN,NaN,Male,20,Student at college / university,None,USA,USA,Reddit,Multiplayer - online - with real life friends,Accept,4,USA,USA
13335,3,1,3,3,3,3,3,Extremely difficult,Other,"Console (PS, Xbox, ...)",NaN,I play for fun,having fun,Unranked,NaN,10.0,Male,19,Student at college / university,High school diploma (or equivalent),Brazil,Brazil,Reddit,Singleplayer,Accept,19,BRA,BRA
13451,0,0,0,0,0,1,0,Not difficult at all,League of Legends,PC,NaN,i play for fun but i want to make a little ear...,improving,Gold 4,NaN,25.0,Male,18,Student at school,High school diploma (or equivalent),Germany,Germany,Reddit,a mix of the last 3 ones sometimes with rl fri...,Accept,1,DEU,DEU
13484,2,2,2,1,2,0,1,Very difficult,League of Legends,PC,NaN,I play for fun,winning,Platinum III,NaN,5.0,Male,22,Student at college / university,High school diploma (or equivalent),Australia,Australia,Reddit,"Online with strangers, acquaintances and friends",Accept,10,AUS,AUS
13539,2,0,2,2,0,2,0,Somewhat difficult,League of Legends,PC,NaN,I play for fun,having fun,Gold,NaN,NaN,Male,20,Student at college / university,High school diploma (or equivalent),USA,USA,Reddit,Multiplayer - online - with strangers,NaN,8,USA,USA
13999,0,0,0,0,0,0,0,Not difficult at all,League of Legends,PC,NaN,I play for fun,improving,Gold,NaN,4.0,Male,18,Student at school,High school diploma (or equivalent),Croatia,Croatia,Reddit,Multiplayer - online - with real life friends,NaN,0,HRV,HRV

Where `Hours` contains NaN values, the common `Game` played are "Counter Strike, League of Legends, and Other". For future preprocessing steps, we will consider imputation based on the game played.

### Platform

### Platform

### Platform

### Platform

In [125]:
gamers_df['Playstyle']

0                                             Singleplayer
1                    Multiplayer - online - with strangers
2                                             Singleplayer
3        Multiplayer - online - with online acquaintanc...
4                    Multiplayer - online - with strangers
                               ...
13459                Multiplayer - online - with strangers
13460                Multiplayer - online - with strangers
13461        Multiplayer - online - with real life friends
13462                                         Singleplayer
13463                Multiplayer - online - with strangers
Name: Playstyle, Length: 13464, dtype: object

In [126]:
gamers_df['Game'].value_counts()

League of Legends      11314
Other                   1021
Starcraft 2              345
Counter Strike           318
World of Warcraft        152
Hearthstone              101
Diablo 3                  89
Heroes of the Storm       41
Guild Wars 2              37
Skyrim                    28
Destiny                   18
Name: Game, dtype: int64